File .pylintrc
[MESSAGES CONTROL]
disable=
    C0103,  ; Cho phép đặt tên biến linh hoạt
    C0114,  ; Không bắt buộc docstring cho module
    C0116   ; Không bắt buộc docstring cho hàm

enable=
    E0001, ; Syntax Error (Lỗi cú pháp)
    E1101, ; No-member (Gọi thuộc tính không tồn tại)
    W0612, ; Unused variable (Biến khai báo nhưng không dùng)
    W0611 ; Unused import (Import nhưng không dùng)